@{
  Layout = "_Layout";
}
<div class="nav">
  <form class="form-group" action='/stylists' method='get'>
    <button class='btn btn-success mx-3'>All Stylists</button>
  </form>
  <form class="form-group" action='/stylists/@Model["stylist"].Id/clients/new' method='get'>
    <button class='btn btn-success mx-3'>Add Client</button>
  </form>
  <form class="form-group" action='/stylists/@Model["stylist"].Id/specialty/new' method='get'>
    <button class='btn btn-success mx-3'>Add Specialty</button>
  </form>
</div>
<div class="container stylists">
  <table class="table">
  <thead>
    <tr>
      <th>Specialties</th>
      <th scope="col">Client's Name</th>
       <th scope="col">Client's Phone </th>
       <th scope="col">Remove Client </th>

    </tr>
  </thead>
  
  @foreach (var client in @Model["client"])
  {
  <tbody>
    <tr>
    <td>@foreach(var specialty in @Model["stylist"].GetSpecialties())
    {
        <p>@specialty.Name</p>
    }
    </td>
      <td>@client.Name</td>
       <td>@client.Phone</td>
        <td>
              <form action='/stylists/@Model["stylist"].Id/clients/remove/@client.Id' method='post'>
              
                <button class='btn btn-success' type="submit">Remove Stylist</button>
              </form>
              <br>
            </td>
    </tr>
  </tbody>
  }
  </table>
  
</div>